:root {
  --type-normal: #a8a878;
  --type-normal-text: #2d2d2d;
  --type-fire: #f08030;
  --type-fire-text: #1a1a1a;
  --type-water: #144AC8;
  --type-water-text: #fff;
  --type-electric: #f8d030;
  --type-electric-text: #2d2d2d;
  --type-grass: #78c850;
  --type-grass-text: #1a1a1a;
  --type-ice: #98d8d8;
  --type-ice-text: #2d2d2d;
  --type-fighting: #c03028;
  --type-fighting-text: #fff;
  --type-poison: #a040a0;
  --type-poison-text: #fff;
  --type-ground: #e0c068;
  --type-ground-text: #2d2d2d;
  --type-flying: #5628E2;
  --type-flying-text: #fff;
  --type-psychic: #f85888;
  --type-psychic-text: #fff;
  --type-bug: #a8b820;
  --type-bug-text: #1a1a1a;
  --type-rock: #b8a038;
  --type-rock-text: #1a1a1a;
  --type-ghost: #705898;
  --type-ghost-text: #fff;
  --type-dragon: #7038f8;
  --type-dragon-text: #fff;
  --type-dark: #705848;
  --type-dark-text: #fff;
  --type-steel: #b8b8d0;
  --type-steel-text: #2d2d2d;
  --type-fairy: #ee99ac;
  --type-fairy-text: #2d2d2d;
}
