@import url('https://fonts.cdnfonts.com/css/pok');
@import url('https://fonts.googleapis.com/css2?family=Fredoka:wght@300..700&display=swap');
@import "tailwindcss";

:root {
  font-family: 'Fredoka', sans-serif;
}

body {
  font-family: 'Fredoka', sans-serif;
}

h1 {
  font-family: 'Pokemon Hollow', sans-serif;
}